.wrapper-tuts {width:650px;margin:auto auto;}

.pre-str{color:#27ae60;}
.pre-elem{color:#3498db;}
.pre-com{color:#7f8c8d;}
.pre-p{color:#c0392b;}

a:link, a:visited, a:hover, a:active  {
  color: #3498db;
  text-decoration: none;
}
h1 {color:#ecf0f1;}
h3{color:#f1c40f;}
.p-header {
  margin:0;padding:0;
  background-color: #bdc3c7;
  @include border-radius(5px);
}
.blue {color:blue; cursor: pointer;}

pre {
  font-family: Courier New;
  font-size: 1em;
  @include border-radius(10px);
  color:#282C34;
  background-color: #DEDEDE;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

.home-picture {
  position: absolute;;
  top: 20px;
  right: 20px;
}

.icons {height: 18px;vertical-align: bottom;

}

#font-text-show {
  display:none;
}
#naming-show {
  display:none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-image: url(../images/up.png);
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index:4;
}

#return-to-top:hover {
   bottom: 24px;
}

.footer-tuts {margin-bottom:20px;}
